:root {
  --text-color: #757575;
  --text-dark: #212121;
  --text-light: #ffffff;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --accent-bg-color: #188ce8;
  --bg-light: #f5f4fa;
  --bg-dark: #2f303a;
}
