.footer {
  background-color: var(--bg-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: block;
    margin-right: 70px;
  }
}

.address {
  margin-top: 20px;
}

.address__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.address__item {
  font-size: 14px;

  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address__physical {
  color: var(--text-light);
  font-style: normal;
}

.address__link {
  color: #ffffff99;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__links {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.footer__subtitle {
  color: var(--text-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .socials__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social__icon {
  fill: var(--text-light);
}

.subscribe {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1200px) {
    display: block;
    margin: 0;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.subscribe__title {
  font-size: 14px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-light);
  margin-bottom: 20px;
}

.subscribe__label {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: inline;
  }
}

.subscribe__input {
  background-color: var(--bg-dark);
  border: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
  border-radius: 4px;

  width: 450px;
  padding: 15px 16px;

  font-size: 16px;

  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe__button {
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: var(--text-light);
  background-color: var(--accent-color);
  border-style: none;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 0;
  }
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--text-light);
}
