.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.logo__left {
  color: var(--accent-color);
}

.logo__right--dark {
  color: var(--text-dark);
}

.logo__right--light {
  color: var(--text-light);
}

.header__logo {
  margin: 0 93px 0 0;
}
